/*********************footer****************/
#footer {
    background-image: url(../img/22.jpg);
    background-position: center;
    }
    .footer_m{
    background:#1a2844f2;
    padding-top:90px;
     }
    .footer_1i ul li a{
    background:#2f4674;
    border-radius:5px;
     }
    .footer_1i ul li {
    margin:0px 4px 0px 0px;
     }
    #footer_b{
    padding-top:13px;
    padding-bottom:10px; 
     }
    .subs_1r{
    margin-top:13px; 
     }
    .main_1{
    top:-60px; 
     }
    .main{
    margin-top:60px; 
     }
    /*********************footer_end****************/